<!DOCTYPE html>
<html>
<head>
    <title>Naribandhu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

    <h1>🌸 Naribandhu 🌸</h1>
    <h3>Your Health Companion</h3>

    <p class="tagline">
        <i>Empowering women with simple and accessible health tools.</i>
    </p>

    <img src="{{ url_for('static', filename='images/health1.png') }}" class="home-img">

    <br><br>

    <a href="/menu">
        <button>🚀 Start</button>
    </a>

</div>

</body>
</html>