<!DOCTYPE html>
<html>
<head>
    <title>PCOS Risk Checker - NARIBANDHU</title>
</head>
<body>
    <h2>PCOS Risk Checker</h2>

    <form action="/pcos" method="POST"></form>

        <label>Irregular periods?</label><br>
        <select name="irregular">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
        <br><br>

        <label>Sudden weight gain?</label><br>
        <select name="weight">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
        <br><br>

        <label>Acne problems?</label><br>
        <select name="acne">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
        <br><br>

        <label>Excess hair growth?</label><br>
        <select name="hair">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
        <br><br>

        <label>Hair fall / thinning?</label><br>
        <select name="hairfall">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
        <br><br>

        <button type="submit">Check Risk</button>

    </form>

    <br>
    <a href="/">Go Back</a>

</body>    
</html>