<!DOCTYPE html>
<html>
<head>
    <title>Cycle Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

    <h2>📅 Cycle Tracker</h2>

    <form action="/tracker" method="POST">

        <label>Last Period Date:</label>
        <input type="date" name="last_period" required>

        <label>Cycle Length (days):</label>
        <input type="number" name="cycle" value="28" required>

        <button type="submit">Track</button>

    </form>

    <br>
    <a href="/menu">⬅ Back</a>

</div>

</body>
</html>